@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;800&display=swap');
@font-face {
  font-family: 'Homemade Apple';
  src: url('../../public/HomemadeApple-Regular.woff2') format('woff2'),
    url('../../public/HomemadeApple-Regular.woff') format('woff'),
    url('../../public/HomemadeApple-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --background-dark: #f0ad36;
  --colour-gold: #c6953d;
  --colour-black: #271510;
  --colour-white: #fff;
  --colour-highlight: #a8e1f1;
  --border: 3px solid black;
  --background-light: #fee1b0;
  --background-secondary-lighter: #a8e1f198;
  --background-lighter: #fee1b059;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}
::selection {
  background: var(--background-light); /* WebKit/Blink Browsers */
}
html,
body {
  font-family: 'Roboto Slab', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #333;
}
ul {
  margin-left: 2rem;
  /* padding-bottom: 1rem; */
}

li {
  padding-bottom: 0.5rem;
}
p {
  line-height: 1.8em;
}
.showKeys {
  background: pink !important;
  color: red !important;
}

.btn {
  padding: 8px 24px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  border: 2px solid var(--colour-black);
  background-color: var(--colour-highlight);
  /* text-transform: uppercase; */
  transition: all 300ms ease;
}

.btn:hover {
  transform: scale(1.1);
}

em {
  font-family: Homemade Apple;
}

h2 {
  margin-bottom: 2rem;
  font-weight: 200;
}

section {
  margin-bottom: 7rem;
}
